// тк мы к ним обращаемся везде ниже
@import "vendors/vendors";
@import "utils/reset";
#twelve-months {
  @import "fonts.scss";
  @import "utils/vars";

  $index: calc(1vw + 1vh);

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  *::selection {
    background: #fff;
    color: #000;
  }

  .twelve-months-title {
    font-family: "BaskervilleCyrillic";
    text-transform: uppercase;
    color: #b19673;
    font-size: 6.2vw;
    text-align: center;
    letter-spacing: 4px;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: 0px 4px 14px #ffffff;
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .section-page {
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1.87;
    position: relative;
    // height: 100vh;
    .section-page__inner {
      width: 100%;
      height: 100%;
      position: relative;
    }
    &[data-page="0"] {
      // padding: calc($index * 2);
      aspect-ratio: inherit;
      height: 100vh;
      padding: 2.63vw;
      .section-page__inner-svg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .stone-image__wrapper {
    transition-timing-function: ease-in-out;
  }

  .month-stone__img {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
      will-change: transform;
    }
    &:hover {
      img {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35))
          drop-shadow(0px 4px 20px rgba(177, 150, 115, 0.486));
        transform: scale(1.1);
      }
    }
  }

  .month-stone {
    pointer-events: all !important;
    position: absolute;
    // background-color: rgba(255, 0, 0, 0.301);
    &[data-stone="1"] {
      top: 5%;
      right: 18%;
      width: 8vw;
      height: 8vw;
      // width: calc($index * 5.4);
      // height: calc($index * 5.4);
    }

    &[data-stone="2"] {
      top: 19%;
      right: 8%;
      // width: calc($index * 6.36);
      // height: calc($index * 6.36);
      width: 9vw;
      height: 9vw;
    }

    &[data-stone="3"] {
      top: 43%;
      right: 9%;
      // width: calc($index * 7.27);
      // height: calc($index * 7.27);
      width: 11vw;
      height: 11vw;
    }

    &[data-stone="4"] {
      top: 66%;
      right: 23%;
      // width: calc($index * 8.17);
      // height: calc($index * 8.17);
      width: 12vw;
      height: 12vw;
    }

    &[data-stone="5"] {
      top: 75%;
      right: 38.5%;
      // width: calc($index * 8.17);
      // height: calc($index * 8.17);
      width: 12vw;
      height: 12vw;
    }

    &[data-stone="6"] {
      top: 79%;
      left: 30%;
      // width: calc($index * 7.27);
      // height: calc($index * 7.27);
      width: 10vw;
      height: 10vw;
    }

    &[data-stone="7"] {
      top: 75%;
      left: 16.5%;
      // width: calc($index * 6.36);
      // height: calc($index * 6.36);
      width: 9.5vw;
      height: 9.5vw;
    }

    &[data-stone="8"] {
      top: 57%;
      left: 10%;
      // width: calc($index * 5.45);
      // height: calc($index * 5.45);
      width: 8vw;
      height: 8vw;
    }

    &[data-stone="9"] {
      top: 32%;
      left: 15.3%;
      // width: calc($index * 4.54);
      // height: calc($index * 4.54);
      width: 6.6vw;
      height: 6.6vw;
    }

    &[data-stone="10"] {
      top: 16%;
      left: 28.5%;
      // width: calc($index * 3.64);
      // height: calc($index * 3.64);
      width: 5vw;
      height: 5vw;
    }

    &[data-stone="11"] {
      top: 7%;
      left: 43.5%;
      // width: calc($index * 3.64);
      // height: calc($index * 3.64);
      width: 5vw;
      height: 5vw;
    }

    &[data-stone="12"] {
      top: 0%;
      right: 34%;
      // width: calc($index * 4.54);
      // height: calc($index * 4.54);
      width: 7vw;
      height: 7vw;
    }
  }

  .stone-descr {
    &.dark {
      .stone-descr__name {
        color: #000;
      }
      .stone-descr__data {
        color: #4f4f4f;
      }
      &:before {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11 11L0 0H11V11Z' fill='%234F4F4F'/%3e%3c/svg%3e ");
      }
    }
    position: absolute;
    color: #fff;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    &:before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: calc($index * 0.5);
      height: calc($index * 0.5);
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11 11L0 0H11V11Z' fill='white'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transform: translateX(-250%);
    }
    .stone-descr__name {
      font-size: 0.69vw;
      line-height: 135%;
    }

    .stone-descr__data {
      font-size: 1.1vw;
      margin-bottom: 0.34vw;
      line-height: 135%;
    }
  }

  .section-pages {
    position: relative;
    .section-pages__line {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1px;
      background-color: #c4c4c4;
      z-index: 2;
      &:nth-child(1) {
        left: 5%;
      }
      &:nth-child(2) {
        left: 27.5%;
      }
      &:nth-child(3) {
        left: 50%;
      }
      &:nth-child(4) {
        left: 72.5%;
      }
      &:nth-child(5) {
        left: 95%;
      }
    }
  }

  .section-page__nameplate {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.11vw;
    line-height: 150%;
    padding: 0.69vw 2.77vw;
  }

  .section-page__title {
    font-family: "BaskervilleCyrillic";
    font-weight: 400;
    font-size: 5.5vw;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #b19673;
    width: fit-content;
    &._w {
      color: #fff;
    }
  }

  .stone-image {
    pointer-events: all !important;
    &:hover {
      img {
        transition-delay: 0.1s;
        transform: scale(1.1) translateZ(0);
      }
    }
    position: absolute;
    * {
      width: 100%;
      height: 100%;
    }
    img {
      transition: transform 0.3s ease-in-out;
      transition-delay: 0s;
      will-change: transform;
      width: 100%;
      height: 100%;
      object-fit: contain;
      filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.25));
    }
  }

  .section-page__image {
    overflow: hidden;
    img {
      transition: filter 0.8s ease-in-out 0.2s;
      filter: blur(8px);
    }
    &.aos-animate img {
      filter: blur(0px);
    }
  }
  .section-footer {
    height: 10vw;
  }

  .section-page[data-page="1"] {
    position: relative;
    .section-page__image {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .section-page__nameplate {
      bottom: 0;
      left: calc(5% + 1px);
      z-index: 2;
    }
    .section-page__inner {
      padding: 4.2vw 6.94vw 0;
      z-index: 2;
    }
    .section-page__text {
      display: flex;
      flex-direction: column;
      font-family: "BaskervilleCyrillic";
      font-style: normal;
      font-weight: 400;
      font-size: 2.43vw;
      line-height: 112%;
      // font-size: calc($index * 1.6);
      color: #ffffff;
      margin-bottom: 2vw;
    }
    .section-page__descr {
      display: flex;
      flex-direction: column;
      font-family: "Roboto";
      font-weight: 400;
      // font-size: calc($index * 0.6);
      font-size: 0.9vw;
      line-height: 150%;
      color: #ffffff;
    }
    .stone-image {
      &[data-stone="1"] {
        width: 19vw;
        height: 19vw;
        right: 23%;
        top: 9.5%;
      }

      &[data-stone="2"] {
        width: 22vw;
        height: 22vw;
        right: 20%;
        top: 50%;
      }
    }

    .stone-descr {
      &[data-descr="1"] {
        right: 5.2%;
        top: 14.5%;
      }
      &[data-descr="2"] {
        right: 5.2%;
        top: 58.1%;
      }
    }
  }

  .section-page[data-page="2"] {
    .section-page__inner {
      padding: 7.2vw 6.94vw 4.2vw;
      z-index: 2;
    }

    .section-page__title {
      margin-bottom: calc($index * 1.3);
    }
    .section-page__text {
      font-family: "Roboto";
      font-weight: 400;
      // font-size: calc($index * 0.9);
      font-size: 1.38vw;
      line-height: 150%;
      color: #000000;
      display: flex;
      flex-direction: column;
      margin-bottom: 2vw;
    }
    .section-page__image {
      position: absolute;
      right: 0;
      top: 9.45%;
      width: 64%;
      height: 40vw;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .section-page__nameplate {
      z-index: 2;
      bottom: 0;
      right: 0;
    }
    .stone-image {
      width: 17vw;
      height: 27.3vw;
      bottom: 8%;
      left: 29%;
    }
    .stone-descr {
      position: absolute;
      left: 50.5%;
      bottom: 20%;
    }
  }

  .section-page[data-page="3"] {
    .section-page__inner {
      padding: 7.2vw 6.94vw 4.2vw;
      z-index: 2;
    }

    .section-page__title {
      position: absolute;
      right: 10%;
      top: 7%;
    }
    .section-page__text {
      position: absolute;
      right: 16.5%;
      top: 23.5%;
      width: fit-content;
      font-family: "Roboto";
      font-weight: 400;
      margin-left: auto;
      font-size: 1.38vw;
      line-height: 150%;
      color: #000000;
      display: flex;
      flex-direction: column;
    }
    .section-page__image {
      position: absolute;
      left: 0;
      top: 0%;
      width: calc(50% + 1px);
      bottom: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .section-page__nameplate {
      z-index: 2;
      bottom: 0;
      left: calc(10% + 1px);
    }
    .stone-image {
      &[data-stone="1"] {
        width: 18.5vw;
        height: 16.4vw;
        top: 5%;
        left: 7.4%;
      }

      &[data-stone="2"] {
        width: 21.2vw;
        height: 18.8vw;
        bottom: 5%;
        left: 40%;
      }
    }
    .stone-descr {
      position: absolute;

      &[data-descr="1"] {
        left: 26.5%;
        top: 10%;
      }
      &[data-descr="2"] {
        right: 23.5%;
        bottom: 18%;
      }
    }
  }

  .section-page[data-page="4"] {
    .section-page__inner {
      z-index: 2;
    }

    .section-page__title {
      position: absolute;
      left: 7%;
      top: 25%;
    }
    .section-page__text {
      position: absolute;
      left: 7%;
      top: 41%;
      width: fit-content;
      font-family: "Roboto";
      font-weight: 400;
      margin-left: auto;
      font-size: 1.38vw;
      line-height: 150%;
      color: #000000;
      display: flex;
      flex-direction: column;
    }
    .section-page__image {
      position: absolute;
      left: 27.5%;
      right: 27.5%;
      top: 2vw;
      bottom: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .section-page__nameplate {
      z-index: 2;
      bottom: 0;
      left: 0;
    }
    .stone-image {
      &[data-stone="1"] {
        width: 31.2vw;
        height: 17.3vw;
        top: 15%;
        right: 12%;
      }
    }
    .stone-descr {
      position: absolute;

      &[data-descr="1"] {
        right: 8%;
        top: 48.5%;
      }
    }
  }

  .section-page[data-page="5"] {
    aspect-ratio: 1.7;
    padding-bottom: 10vw;
    .section-page__inner {
      z-index: 2;
    }

    .section-page__title {
      position: absolute;
      left: 7%;
      top: 20%;
    }
    .section-page__text {
      position: absolute;
      left: 7%;
      top: 38%;
      width: fit-content;
      font-family: "Roboto";
      font-weight: 400;
      margin-left: auto;
      font-size: 1.38vw;
      line-height: 150%;
      color: #000000;
      display: flex;
      flex-direction: column;
    }
    .section-page__image {
      position: absolute;
      right: 0%;
      top: 2vw;
      width: 44%;
      bottom: 6.5%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .section-page__nameplate {
      z-index: 2;
      bottom: 0;
      left: 0;
    }
    .stone-image {
      &[data-stone="1"] {
        width: 19.6vw;
        height: 19.6vw;
        left: 17%;
        top: 75%;
      }
    }
    .stone-descr {
      position: absolute;

      &[data-descr="1"] {
        left: 41%;
        top: 73%;
      }
    }
  }

  .section-page[data-page="6"] {
    .section-page__inner {
      z-index: 2;
    }

    .section-page__title {
      position: absolute;
      left: 7%;
      top: 7.5%;
    }
    .section-page__text {
      position: absolute;
      left: 6%;
      top: 23.5%;
      width: fit-content;
      font-family: "Roboto";
      font-weight: 400;
      margin-left: auto;
      font-size: 1.95vw;
      line-height: 150%;
      color: #fff;
      display: flex;
      flex-direction: column;
    }
    .section-page__image {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .section-page__nameplate {
      z-index: 2;
      bottom: 0;
      left: 5%;
    }
    .stone-image {
      &[data-stone="1"] {
        width: 20.8vw;
        height: 20.8vw;
        left: 15%;
        top: 47.8%;
      }
    }
    .stone-descr {
      position: absolute;

      &[data-descr="1"] {
        left: 38%;
        top: 47%;
      }
    }
  }

  .section-page[data-page="7"] {
    aspect-ratio: 1.7;
    .section-page__inner {
      z-index: 2;
    }

    .section-page__title {
      position: absolute;
      right: 8%;
      top: 15.5%;
    }
    .section-page__text {
      position: absolute;
      right: 12%;
      top: 30%;
      width: fit-content;
      font-family: "Roboto";
      font-weight: 400;
      margin-left: auto;
      font-size: 1.38vw;
      line-height: 150%;
      display: flex;
      flex-direction: column;
    }
    .section-page__image {
      position: absolute;
      right: 36%;
      left: 0;
      top: 16%;
      bottom: 15%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .section-page__nameplate {
      z-index: 2;
      bottom: 0;
      left: 8%;
    }
    .stone-image {
      &[data-stone="1"] {
        width: 18.4vw;
        height: 16.7vw;
        left: 35%;
        bottom: 6%;
      }
      &[data-stone="2"] {
        width: 12.7vw;
        height: 9.5vw;
        left: 55.5%;
        top: 49.5%;
      }
      &[data-stone="3"] {
        width: 14.7vw;
        height: 11.6vw;
        left: 64%;
        bottom: 13%;
      }
    }
    .stone-descr {
      position: absolute;

      &[data-descr="1"] {
        right: 16.5%;
        top: 55%;
      }
    }
  }

  .section-page[data-page="8"] {
    .section-page__inner {
      z-index: 2;
    }

    .section-page__title {
      position: absolute;
      left: 7%;
      top: 5.5%;
    }
    .section-page__text {
      position: absolute;
      left: 7%;
      top: 22%;
      width: fit-content;
      font-family: "Roboto";
      font-weight: 400;
      margin-left: auto;
      font-size: 1.94vw;
      line-height: 150%;
      color: #000000;
      display: flex;
      flex-direction: column;
    }
    .section-page__image {
      position: absolute;
      right: 0%;
      top: 0vw;
      bottom: 0;
      width: 50%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .section-page__nameplate {
      z-index: 2;
      bottom: 0;
      left: 0;
    }
    .stone-image {
      &[data-stone="1"] {
        width: 29.9vw;
        height: 16.45vw;
        left: 6%;
        top: 45.5%;
      }
    }
    .stone-descr {
      position: absolute;

      &[data-descr="1"] {
        left: 40%;
        top: 45%;
      }
    }
  }

  .section-page[data-page="9"] {
    aspect-ratio: 1.8;
    .section-page__inner {
      z-index: 2;
    }

    .section-page__title {
      position: absolute;
      right: 14%;
      top: 15%;
    }
    .section-page__text {
      position: absolute;
      right: 19.5%;
      top: 30%;
      width: fit-content;
      font-family: "Roboto";
      font-weight: 400;
      font-size: 1.38vw;
      line-height: 150%;
      color: #000000;
      display: flex;
      flex-direction: column;
    }
    .section-page__image {
      position: absolute;
      left: 0%;
      top: 2vw;
      width: 50%;
      bottom: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .section-page__nameplate {
      z-index: 2;
      bottom: 0;
      left: 10%;
    }
    .stone-image {
      &[data-stone="1"] {
        width: 21.5vw;
        height: 21.5vw;
        left: 39%;
        top: 57%;
      }
    }
    .stone-descr {
      position: absolute;

      &[data-descr="1"] {
        right: 24%;
        top: 72%;
      }
    }
    .section-page__text_d {
      position: absolute;
      right: 14.7%;
      top: 63%;
      width: fit-content;
      font-family: "Roboto";
      font-weight: 400;
      font-size: 0.83vw;
      line-height: 150%;
      color: #706f6f;
    }
  }

  .section-page[data-page="10"] {
    aspect-ratio: 1.8;
    .section-page__inner {
      z-index: 2;
    }

    .section-page__title {
      position: absolute;
      left: 35.5%;
      top: 10%;
    }
    .section-page__text {
      position: absolute;
      left: 7%;
      top: 44%;
      width: fit-content;
      font-family: "Roboto";
      font-weight: 400;
      font-size: 1.38vw;
      line-height: 150%;
      color: #000000;
      display: flex;
      flex-direction: column;
    }
    .section-page__image {
      position: absolute;
      left: 27.5%;
      top: 2vw;
      width: 45%;
      bottom: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .section-page__nameplate {
      z-index: 2;
      bottom: 0;
      left: 0%;
    }
    .stone-image {
      &[data-stone="1"] {
        width: 23vw;
        height: 29vw;
        right: 10%;
        top: 17%;
      }
    }
    .stone-descr {
      position: absolute;

      &[data-descr="1"] {
        right: 9.5%;
        top: 72.5%;
      }
    }
    .section-page__text_d {
      position: absolute;
      left: 6.9%;
      top: 62%;
      width: fit-content;
      font-family: "Roboto";
      font-weight: 400;
      font-size: 0.83vw;
      line-height: 150%;
      color: #706f6f;
    }
  }

  .section-page[data-page="11"] {
    aspect-ratio: 1.7;
    .section-page__inner {
      z-index: 2;
    }

    .section-page__title {
      position: absolute;
      left: 13%;
      top: 8%;
    }
    .section-page__text {
      position: absolute;
      left: 43.7%;
      top: 11%;
      width: fit-content;
      font-family: "Roboto";
      font-weight: 400;
      font-size: 1.38vw;
      line-height: 150%;
      color: #000000;
      display: flex;
      flex-direction: column;
    }
    .section-page__image {
      position: absolute;
      left: 13%;
      right: 13%;
      top: 22%;
      bottom: 23%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .section-page__nameplate {
      z-index: 2;
      bottom: 0;
      left: 0%;
    }
    .stone-image {
      &[data-stone="1"] {
        width: 14.9vw;
        height: 12.7vw;
        left: 41%;
        top: 71%;
        z-index: 2;
      }
      &[data-stone="2"] {
        width: 10.3vw;
        height: 10.76vw;
        right: 37.3%;
        top: 61.5%;
      }
      &[data-stone="3"] {
        width: 12.3vw;
        height: 9.3vw;
        right: 28%;
        top: 72%;
        z-index: 2;
      }
    }
    .stone-descr {
      position: absolute;

      &[data-descr="1"] {
        right: 14%;
        bottom: 15%;
      }
    }
  }

  .section-page[data-page="12"] {
    .section-page__inner {
      z-index: 2;
    }

    .section-page__title {
      position: absolute;
      left: 7%;
      top: 10%;
    }
    .section-page__text {
      position: absolute;
      left: 7%;
      top: 25%;
      width: fit-content;
      font-family: "Roboto";
      font-weight: 400;
      margin-left: auto;
      font-size: 1.95vw;
      line-height: 150%;
      color: #fff;
      display: flex;
      flex-direction: column;
    }
    .section-page__image {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .section-page__nameplate {
      z-index: 2;
      bottom: 0;
      left: 5%;
    }
    .stone-image {
      &[data-stone="1"] {
        width: 17.3vw;
        height: 17.3vw;
        left: 41.5%;
        top: 28%;
      }
      &[data-stone="2"] {
        width: 21.8vw;
        height: 15.27vw;
        right: 17%;
        top: 60%;
      }
    }
    .stone-descr {
      position: absolute;

      &[data-descr="1"] {
        right: 33.5%;
        top: 30%;
      }
      &[data-descr="2"] {
        right: 9%;
        bottom: 18%;
      }
    }
  }

  .section-page[data-page="13"] {
    aspect-ratio: 1.75;
    .section-page__inner {
      z-index: 2;
    }

    .section-page__title {
      position: absolute;
      right: 11%;
      top: 15%;
    }
    .section-page__text {
      position: absolute;
      right: 18.5%;
      top: 30%;
      width: fit-content;
      font-family: "Roboto";
      font-weight: 400;
      font-size: 1.38vw;
      line-height: 150%;
      color: #000000;
      display: flex;
      flex-direction: column;
    }
    .section-page__image {
      position: absolute;
      left: 0%;
      top: 2vw;
      width: 50%;
      bottom: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .section-page__nameplate {
      z-index: 2;
      bottom: 0;
      left: 10%;
    }
    .stone-image {
      &[data-stone="1"] {
        width: 22.36vw;
        height: 22.36vw;
        left: 37%;
        top: 56%;
      }
    }
    .stone-descr {
      position: absolute;

      &[data-descr="1"] {
        right: 28.5%;
        top: 72%;
      }
    }
  }
}
